html {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

body > canvas {
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
