html {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#linear-interpolation-checkbox-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 0.125rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

#linear-interpolation-checkbox-container > label {
  color: #ffffff;
}

#linear-interpolation-checkbox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 2.5dvh;
}

body > canvas {
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
